*
{
	font-family: sans-serif;
	font-size: x-large;
	vertical-align: middle;
	text-align: center;
	color: white;
}

section{
	margin-left: 22%;
	margin-right: 1%;
	width: auto;
	background-color: #797999;
	border : 1px solid black;
}

table{
	border-collapse: collapse;
	width : auto;
	margin: 1%;
	margin-top: 0%
}

td, th{
	border : 1px solid black;
	width : 1%;
}

thead tr{
	background-color: white;
}
input,button,thead tr td{
	color: black;
}

.saisieadresse {
	width: 20%;
}

span input{
	width: auto;
}
body{
	background-color: #a9a9c9;
	/*width: 100%;*/
	height: 100%;
}

h1, h2{
	border : 1px solid #305496;
	position: relative;
	margin-right: 1%;
	margin-left: 22%;
	margin-top: 0%;
	top: 2%;
	margin-bottom: 1%;
	background-color: #305496;
	font-size : 1.5em;
}
h2{
	font-size : 1em;
}

fieldset *{
	text-align: left;
}

select, select option  {
    color: #000;
}


#wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:100;
}

#wp-background {
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background-color: #fff;
}

#IDSuppr{
	border: none;
}

	/* Switch 1 Specific Styles Start */
input[type="checkbox"].switch_1{
	appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: red;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: black solid .01em;
	transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked{
	background: lime;
}

input[type="checkbox"].switch_1:disabled{
	background: #990000;
}

input[type="checkbox"].switch_1:disabled:checked{
	background: #009900;
}

input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "x";
	color: red;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 .25em rgba(0,0,0,.3);
	transform: scale(.7);
	left: 0;
	transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after{
	color: lime;
	content: "✓";
	left: calc(100% - 1.5em);
}

input[type="checkbox"].switch_1:disabled:after{
	background: #999;
}

input[type="checkbox"].switch_1:hover, input[type="checkbox"].switch_1:focus{
	outline: violet solid .1em;
}

td label{
	  display: block;
}
/* Switch 1 Specific Style End */

.RécupérationDonnées,.hide {
	display: none;
}

.aide{
	width:	1em;
	vertical-align: -10%;
}

.aide:focus + .hide,.aide:hover + .hide {
	display: block;
	width: 300px;
	background-color: #555;
	overflow: hidden visible;
	border-radius: 8px;
	padding: 8px 8px;
	position: absolute;
	z-index: 100;
	right: auto;
}

#LabelTP .aide:hover + .hide{
	right: 0px;
}

#container, #letemps{
	display: flex;	
	position: absolute;
	top: 40%;
	left: 5%;
	width: 90%;
	height: 2%;
	min-height: 25px;
}
#letemps{
	color: black;
	display: block;
	top: 20%;
}
progress {
	width: 100%;
	min-height : 10px;
	overflow: hidden;
	border: none;
	border-radius: 50px;
	background-color: lightgray;
}

/* Center the loader */
#loader {
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border: 3px solid black;
	border-radius: 50%;
	border-top: 3px solid #3498db;
	animation: spin 1.5s cubic-bezier(.25,1.75,.75,-.75) infinite;
}

@keyframes spin {
	0% { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
}

progress[value]::-webkit-progress-value {
	background-image: #3498db;
}

progress[value]::-moz-progress-bar { 
  background: #3498db;
}

#message, #infoErreur{
	position: absolute;
	top: 50%;
	color: black;
	left: 50%;
	margin: 1%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
}

#infoErreur{
	color: red;
	top: 70%;
}

.logo{
	max-width: 100%;
}

#colonnegauche{
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 20%;
	gap: 5px;
}

nav a{
	display: block;
	text-decoration: none;
	list-style-type: none;
	background-color: #4472c4;
	min-height: 30px;
	border : 1px solid #305496;
	cursor: pointer;
	transition: .5s;
}

nav a:hover{
	background-color: #305496;
}

nav a:focus{
	border : 1px solid violet;
}

/* (C) HIDE HAMBURGER */
#colonnegauche label, #hamburger { display: none; }

@media screen and (max-width: 768px){
	*{
		font-size: large;
	}
	#colonnegauche{
		width: 96%;
		z-index:1;
		bottom:5%;
		max-height: 95%;
	}
	
	section, h1, h2{
		margin-left: 1%;
		overflow: auto;
	}

	/* (A) BREAK INTO VERTICAL MENU */
	nav a {
		box-sizing: border-box;
		width: 100%;
		min-height: auto;
	}

	#colonnegauche img {
		display : none;
	}
	/* (B) SHOW HAMBURGER ICON */
	#colonnegauche label { 
		display: inline-block; 
		color: white;
		background: #305496;
		font-style: normal;
		font-size: 1.2em;
		position : absolute;
		padding : 10px;
		bottom: 0px;
		border-style: solid;
	}

	/* (C) TOGGLE SHOW/HIDE MENU */
	#Nav { display: none; }
	#colonnegauche input:checked ~ #Nav { display: block; }
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
#snOK, #snErr, #snMDP {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snOK.show, #snErr.show, #snMDP.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Remove <td>'s interior cell-padding */
td.fulltd {
    padding: 0em 0em 0em 0em;
}

/* Make the <a> fill the whole td */
td a.fulltd {
    display: block;
    width: 100%;
    height: 100%;
	text-decoration:none;
}

/* Let the <div> provide the clickable cell-padding */
div.fulltd {
    height:100%;
    width:100%;
}