h1{
    border : 1px solid #e9420d;
    position: relative;
    text-align: left;
    margin-right: 1%;
    margin-left: 22%;
    margin-top: 0%;
    top: 2%;
    margin-bottom: 1%;
    color: white;
    background-color: #e9420d;
    font-size : 50px;


}

.index{
    position: fixed;
    display: inline-block;
}

.logo{
    top : 2%;
    left : 10px;
    width: 20%;
    position: fixed;
    display: inline-block;
}

nav{
    position: fixed;
    display: inline-block;
    width : 20%;
    border : 1px solid blueviolet;
    top : 20%;

    left: 10px;
    padding: 0px;
}

nav a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    background-color: blue;
    min-height: 30px;
    border : 1px solid blueviolet;
    text-align: center;
    font-size: x-large;
    cursor: pointer;

}

nav a:hover{
    background-color: blueviolet;
    cursor: pointer;
}

.RécupérationDonnées{
    display: none;
}

section{
    display: inline-block;
    margin-left: 22%;
    margin-right: 1%;
    width: 77%;
    vertical-align: text-top;
    background-color: grey;
    border : 1px solid black;
}

article{
    text-align: justify;
    color: white;
}


table{
    border-collapse: collapse;
    display: inline-block;
    width : 98%;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
}

td, th{
    border : 1px solid black;
    width : 2%;
}



body{
    background-color: darkgrey;
}

*
{
    font-family: sans-serif;
}

#IDSuppr{
    border: none;
}

.PointsIP{
    font-size: xx-large;
}
